  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="static/queryAccount.js"></script>
  <form class="modal-content" action="/createaccount" method="POST">
    <div class="container">
      <h2 style="color:{{color}}">{{data}}</h2>
      <h1 style="color:beige;">Create Account</h1>
      <p style="color:beige;">Please fill in this form to create an account.</p>
      <hr>
      <label for="email" style="color:beige;"><b>Email</b></label>
      <input type="text"  placeholder="Enter Email" name="email" required>

      <label for="psw" style="color:beige;"><b>Password</b></label>
      <input type="password"   placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat" style="color:beige;"><b>Repeat Password</b></label>
      <input type="password"   placeholder="Repeat Password" name="psw-repeat" required>
      <div class="ui-widget">
        <label for="country-input">Country: </label>
        <input name="country" id="country-input">
      </div>
      <br><br><br>
      <div class="ui-widget">
        <label for="city-input">City: </label>
        <input name="city" id="city-input">
      </div>
      <br>
      <p style="color:beige;" >By creating an account you forfeit your data.</p>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>