
<p>This page satisfies the project requirement that says each table must have working inserts. 
  Tables that already have insert functionality in other parts of the website are not included here.</p>
<h2 style="color:{{color}}">{{data}}</h2>
<form class="form-inline"style="width:1000px; background-color:rgba(255, 255, 255,0.6)" action="/insertitemstattype" method="POST">
  <label>Item Stat Name</label>
  <input  style="width:200px;" type="text" placeholder="Enter item stat type..." name="itemStatType">
  <button style="width:100px;" type="submit">Submit</button>
</form>