
<p>This page satisfies the project requirement that says each table must have working inserts. 
  Tables that already have insert functionality in other parts of the website are not included here.</p>
<table style="position:relative;top:50px;left:200px;">
    <tr>
      <td><button onclick="location.href='/add-mmo_class'" class="editbtn">mmo_class</button></td>
      <td><button onclick="location.href='/add-mmo_faction'" class="editbtn">mmo_faction</button></td>
      <td><button onclick="location.href='/add-mmo_race'" class="editbtn">mmo_race</button></td>
    </tr>
</table>