<script src="static/queryInventoryDel.js"></script>
<h3>{{data}}</h3>
<h2>1. Select Character</h2>
<form class="form-inline"style="width:50%; background-color:rgba(255, 255, 255,0.6)">
  <select id="account-select" name="Account" onchange="GetAccountCharacterList()">
    <option disabled selected value> -- select an account -- </option>
  </select> 
  <select id="character-select" name="Account">
    <option disabled selected value> -- select a character -- </option>
  </select> 
  <br>
</form>
<br>
<h2>2. Add Items to Inventory</h2>
<form class="form-inline"style="width:1000px; background-color:rgba(255, 255, 255,0.6)">
  <label>Item Name:</label>
  <input id="item-name" style="width:200px;" type="text" placeholder="Enter item name..." name="itemName">
  <label>Quality:</label>
  <select id="item-quality" name="quality">
    <option disabled selected value> -- select an option -- </option>
  </select>
  <label>Type:</label>
  <select id="item-subclass" name="subclass">
    <option disabled selected value> -- select an option -- </option>
  </select>
  <br><br>
  <button id="item-search-button"style="width:100px;" type="button">Search</button>
</form>
 <div id="item-query-result">
    <table id="item-table">
 </table>
 </div>