<script src="static/queryItems.js"></script>
<form class="form-inline"style="width:1000px; background-color:rgba(255, 255, 255,0.6)">
  <label>Item Name:</label>
  <input id="item-name" style="width:200px;" type="text" placeholder="Enter item name..." name="itemName">
  <label>Rarity:</label>
  <select id="item-quality" name="quality">
    <option disabled selected value> -- select an option -- </option>
    <option value="Common">Common</option>
    <option value="Uncommon">Uncommon</option>
    <option value="Rare">Rare</option>
    <option value="Epic">Epic</option>
    <option value="Legendary">Legendary</option>
  </select>
 
  <label>Type:</label>
  <select name="Type">
    <option disabled selected value> -- select an option -- </option>
    <option value="Melee Weapon">Melee Weapon</option>
    <option value="Trade Good">Trade Good</option>
    <option value="Plate Helmet">Plate Helmet</option>
    <option value="Consumable">Consumable</option>
  </select>
  <br><br>
  <button id="item-search-button"style="width:100px;" type="button">Search</button>
</form>
 <div id="item-query-result"></div>
 <table id="item-table">
   <tr>
     <th></th>
     <th><b>Name</b></th>
     <th><b>iLvl</b></th>
     <th><b>Req. Lvl</b></th>
     <th><b>Type</b></th>
   </tr>
 </table>
<h1>Get Characters with Item X?</h1>
<form class="form-inline"style="width:50%; background-color:rgba(255, 255, 255,0.6)">
  <label>Item Name:</label>
  <input style="width:200px;" type="text" placeholder="Enter item name..." name="itemName">
  <br><br>
  <button style="width:100px;" type="button" onclick="alert('Not implemented')">Search</button>
</form>
<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
