  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1 style="color:beige;">Account Login</h1>
      <hr>
      <label for="email" style="color:beige;"><b>Email</b></label>
      <input type="text"  placeholder="Enter Email" name="email" required>

      <label for="psw" style="color:beige;"><b>Password</b></label>
      <input type="password"   placeholder="Enter Password" name="psw" required>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Login</button>
      </div>
    </div>
  </form>