

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="static/queryPlayer.js"></script>

<!-- HTML -->
<h2>Create Character</h2>
<div style="top:0px;right:0%;width:700px;height:300px;">
    <div id="popRacediv"></div>
</div>
<div style="top:400px;right:0%;width:700px;height:300px;">
    <div id="popClassdiv"></div>
</div>
{{!-- <h2>Display Player count for each faction and ratio.</h2>
<h2>Wealthiest player on server is {query result}</h2>
<h2>Section to create a new player from drop down account list</h2> --}}
<form class="form-inline"style="width:50%; background-color:rgba(255, 255, 255,0.6)">
  <select id="account-select" name="Account">
    <option disabled selected value> -- select an account -- </option>
  </select>
  <input style="width:200px;" type="text" placeholder="Enter player name..." name="CharName">
    <select id='race-select' name="Race">
    <option disabled selected value> -- select a race -- </option>
    </select>
    <select id='class-select' name="Class">
    <option disabled selected value> -- select a class -- </option>
    </select>
    
  <br><br>
  <button style="width:100px;" type="button" onclick="CreateCharacter()">Create Character</button>
</form>
{{!-- <h2>Inventory Editor</h2> --}}
{{!-- <form class="form-inline"style="width:50%; background-color:rgba(255, 255, 255,0.6)">
  <label>Item Name:</label>
  <input style="width:200px;" type="text" placeholder="Enter item name..." name="itemName">
  <label>Player:</label>
  <select name="Player">
    <option disabled selected value> -- select a player -- </option>
    <option value="q1">query result 1</option>
    <option value="q2">query result 2</option>
  </select>
  <br><br>
  <button style="width:100px;" type="button" onclick="alert('Not implemented')">Add to Inventory</button>
</form> --}}
 <div id="char-query-result">
    <table id="char-table">
 </table>
 </div>
<h2>Modify Character</h2>
<h3>{{message}}</h3>
<form class="form-inline" id="modify-char" style="width:50%; background-color:rgba(255, 255, 255,0.6)" method="POST" action="/updatecharacter">
  <select id="update-account-select" name="email">
    <option disabled selected value> -- select an account -- </option>
  </select>
  <select id="update-character-select" style="width:200px;" name="name">
    <option disabled selected value> -- select a character -- </option>
    </select>
    <label>Lvl</label>
    <input name="lvl" type="number">
    <label>Max HP</label>
    <input name="maxHP" type="number">
    <label>Max Mana</label>
    <input name="maxMana" type="number">
  <br><br>
  <button style="width:100px;" type="submit">Modify Character</button>
</form>
