

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="static/queryPlayer.js"></script>

<!-- HTML -->
<h2 style="color:{{color}}">{{data}}</h2>
<h2>Create Character</h2>
<div style="top:0px;right:0%;width:700px;height:300px;">
  <h2>Character Race</h2>
    <div id="popRacediv"></div>
</div>
<div style="top:400px;right:0%;width:700px;height:300px;">
  <h2>Character Class</h2>
    <div id="popClassdiv"></div>
</div>
<div style="top:600px;left:0%;width:700px;height:500px;">
    <h2>Character Faction</h2>
    <div id="popFactiondiv"></div>
</div>
<form class="form-inline"style="width:50%; background-color:rgba(255, 255, 255,0.6)">
  <select id="account-select" name="Account">
    <option disabled selected value> -- select an account -- </option>
  </select>
  <input style="width:200px;" type="text" placeholder="Enter player name..." name="CharName">
    <select id='race-select' name="Race">
    <option disabled selected value> -- select a race -- </option>
    </select>
    <select id='class-select' name="Class">
    <option disabled selected value> -- select a class -- </option>
  </select> 
  <br><br>
  <button style="width:100px;" type="button" onclick="CreateCharacter()">Create Character</button>
</form>
 <div id="char-query-result">
    <table id="char-table">
 </table>
 </div>
<h2>Modify Character</h2>
<h3>{{message}}</h3>
<form class="form-inline" id="modify-char" style="width:50%; background-color:rgba(255, 255, 255,0.6)" method="POST" action="/updatecharacter">
  <select id="update-account-select" name="email" onchange="GetAccountCharacterList()" >
    <option disabled selected value> -- select an account -- </option>
  </select>
  <select id="update-character-select" style="width:200px;" name="name">
    <option disabled selected value> -- select a character -- </option>
    </select>
    <label>Lvl</label>
    <input name="lvl" type="number">
    <label>Max HP</label>
    <input name="maxHP" type="number">
    <label>Max Mana</label>
    <input name="maxMana" type="number">
  <br><br>
  <button style="width:100px;" type="submit">Modify Character</button>
</form>
