<table style="position:relative;top:50px;left:200px;">
    <tr>
      <td><button onclick="location.href='/modify-account'" class="editbtn">Account</button></td>
      <td><button onclick="location.href='/modify-character'" class="editbtn">Character</button></td>
      <td><button onclick="location.href='/modify-class'" class="editbtn">Class</button></td>
      <td><button onclick="location.href='/modify-faction'" class="editbtn">Faction</button></td>
    </tr>
    <tr>
      <td><button onclick="location.href='/modify-inventory'" class="editbtn">Inventory</button></td>
      <td><button onclick="location.href='/modify-item'" class="editbtn">Item</button></td>
      <td><button onclick="location.href='/modify-race'" class="editbtn">Race</button></td>
      <td><button onclick="location.href='/modify-reputation'" class="editbtn">Reputation</button></td>
      <td><button onclick="location.href='/modify-session'" class="editbtn">Session</button></td>
    </tr>

</table>